body {
  font-family: sans-serif;
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Center the content in the browser window */
.container {
  margin: auto;
  text-align: center;
}

.title {
  font-size: 3rem;
}

   body { background-color: grey; } 
   f1a { color: blue; }
   f2a { color: blue; }
   c1y { color: yellow; } 
   c1r { color: red; } 
   c2y { color: yellow; } 
   c2r { color: red; }   
   c1py { color: yellow; } 
   c1pr { color: red; } 
   c2py { color: yellow; } 
   c2pr { color: red; }  
   c1pb { color: black; } 
   c2pb { color: black; } 
   ab { color: white; }  

@media only screen and (max-width: 600px) {
   body { background-color: lightblue; }   
   IfSmallNotNeed { display: none !important; } 
   IfSmallDoBreak{ 
       display: block !important; 
       margin: 1em;
    }
} 

  
